:root {
    --color-main: rgb(252, 130, 37);
    --color-accent: rgb(151, 149, 149);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}
header {
    
}
main {
   
}
/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: start;
    margin: 10px 10px 3rem 6rem ;
    width: 100%;
    min-height: 70px;  
    padding: 0 1rem;
    /* position: fixed; */
    
    background-color: white;
    
    
}
.nav-item {
    margin: 0 2rem
    
}
.nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    /* margin-bottom: 20px; */
}
.nav-list li {
    list-style: none;

    
}
.nav-list a {
    color: var(--color-accent);
    text-decoration: none;
}
.nav-brand {
    margin-right: 0px;
}
.nav-icons {
    display: flex;
    margin: 0 20px;
    justify-content: flex-end;
    /* having trouble making space btwn the two icons */
}
.hamburger {
    display: none;
    cursor: pointer;
}
.bar{ 
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background: gray;
}

/* Main Page Styling */

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 3rem;
    margin: 0 auto;
    
    
}
.product-images {
    /* border: 1px solid black; */
    text-align: center;
}
.product-images-main-display {
    border-radius: 20px;
    width: 35rem;
    margin: 1rem 0 2rem 0;
}

.product-images-thumbnails {
    margin: 1rem .5rem;
    width: 8rem;
    border-radius: 20px;
}
/* this hover style is being used to test how clicks will look later on */
/* need to somehow add an overlay with opacity for on click! */
.product-images-thumbnails:hover {
    border: 3px solid var(--color-main);
    color: rgba(255, 255, 255, 0.631);
}

/* Product Information */
.product-info {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    
}
.product-info-brand {
    color: var(--color-main); 
    font-weight: 600;
    margin-bottom: 1.1rem;
}
.product-info-name {
    font-weight: 600; 
    font-size: 4rem; 
    
}

.product-description {
    color: var(--color-accent);
    margin: 50px 0;
    line-height: 30px;
    text-align: justify;
    width: 650px;
    font-size: 1.1rem;
    
}



.pricing {
    display: flex;
    margin-bottom: 10px;
    
}
.pricing-main-price {
    font-size: 1.6rem;
}
.pricing-discount {
    color: var(--color-main); 
    background-color: rgba(244, 190, 89, 0.524);
    border-radius: 10px;
    width: 2.5rem;
    padding: 6px 0px 6px 1px;
    margin-left: 20px;
    

}
.pricing-old-price {
    color: var(--color-accent); 
    text-decoration: line-through;
    font-size: 1.2rem;

}
.quantity-cart {
    display: flex;
    margin: 4.5rem 0;
}
.pricing-quantity {
    display: flex;
    justify-content: space-evenly;
    width: 13rem;
    height: 3rem;
    padding: 10px ;
    background-color: rgb(235, 236, 236);
    border-radius: 10px;

}
#quantity {
    font-size: 1.2rem;
}
#increment {
    align-self: center;
    
}
#decrement {
    align-self: center;

}
.cart-btn {
    width: 15rem;
    height: 3.3rem;
    margin: 0 0 0 5rem;
    border: none;
    border-radius: 10px;
    background-color: var(--color-main);
    color: white;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    
    
}


/* Media Queries */
/* didnt have time to fix :/  */
/* @media screen (max-width: 768px){
    .hamburger{
        display: block;
    }

    .hamburger.active .bar:nth-child(2){
        opacity:0;
    }
    .hamburger.active .bar:nth-child(1){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-list{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: row;
        background-color: aliceblue;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left: 0;
    }

} */
