:root {
    --color-main: rgb(252, 130, 37);
    --color-accent: rgb(163, 163, 163);
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Inter', sans-serif;
}

/* Navigation Bar */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: pink;
    width: 100%;
    height: 10vh;


    
    
}
.navbar li {
    margin: 0;
    list-style: none;

    
}

/* Main Page Styling */

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 3rem;
    margin: 0 auto;
    
}
.product-images {
    border: 1px solid black;
}

.product-info {
    margin-top: 4rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    
}

.product-description {
    color: var(--color-accent);

    line-height: 30px;
}

.pricing {
    display: flex;
    
}